
.upper{
  width: 90.8%;
  height: 31.5%;
  position: absolute;
  left: 5.3%;
  top: 2%;
}
.calendar{
  border-style: groove;
  width: 25%;
  height : 85%;
  position: absolute;
  left : .5%;
  top: 7%;
}

.userprofile{
  border-style: groove;
  width: 16%;
  height : 11%;
  position: absolute;
  left : 83%;
  top: 7% ;
}
.assetmenue{
  border-style: groove;
  width: 34%;
  height : 11%;
  position: absolute;
  left : 65%;
  top: 27%;
}
.ToolSetsIcons1{
  width: 60%;
  height : 11%;
  position: absolute;
  left : 54.3%;
  top: 47%;
}
.ToolSetsIcons2{
  width: 60%;
  height : 11%;
  position: absolute;
  left : 54.3%;
  top: 67%;
}
.ToolSetsIcons3{
  width: 60%;
  height : 11%;
  position: absolute;
  left : 54.3%;
  top: 87%;
}
.ToolSetsIcons4{
  width: 100%;
  height : 11%;
  position: absolute;
  left : 1%;
  top: 1%;
}

.selectedStoryPreviewe{
  border-style: groove;
  width: 345px;
  height: 430px;
  float:right;
  position: absolute;
  left:70%;
  top: 25%;
}
.story{
  position:absolute;
  left: 1%;
  top: 25%;
  width:100%;
  height: 15%;
}
.block{
  border-color: #55FF00;
  position:absolute;
  left: 1%;
  top: 35%;
  width:100%;
  height: 15%;
}
.label{
  border-style: groove;
  border-color: inherit;
  width: 65%;
  height: 35%;
  display:inline-block;
}
.button{

}
.border{
  border-style: solid;
  width: 90%;
  height: 95%;
  position: absolute;
  left:5.3%;
  top: 40%;
}

div:not(.selectionOfStories) {

}
