
.selectedStoryPreviewe{
  border-style: solid;
  background-color: powderblue;
  width: 350px;
  height: 450px;
  float:right;
  position: absolute;
  left:970px;
  top: 170px;
}
.story{
  border-style: solid;
  background-color: powderblue;
  width: 550px;
  height: 30px;
  display:inline-block;
}
.selectionOfStories{
  display:inline-block;
  border-style: solid;
  background-color: red;
  position: absolute;
  left:970px;
  top: 170px;
}
